.app__scanner--dialog__banner--container  {
  background-image: url('/src/assets/imgs/yellow_shade_abstract.svg');
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.app__scanner--result__items--container {
  background-image: url('/src/assets/imgs/svgs/camera-white_shadow.svg');
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.app__scanner--result__item--quantity {
  background-color: transparent;
}

.app__scanner--result__item:hover {
  background-color: #ffffff;
  box-shadow: 0 0 1px 3px #f9f9f9f9;
}
