body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.app__cart--dialog {
  min-width: 320px;
  max-width: 80%;
  width: 60%;
  height: 70%;
  box-shadow: 0 0 1px 2px #f5f5f5;
  border-radius: 8px;
}

.app__cart--dialog * {
  border-radius: 8px 0 0 8px;
}

.app__cart--dialog {
  flex-direction: row;
}

.app__cart--dialog__side-banner {
  width: 30%;
  background-image: url('/src/assets/imgs/466212-PFWXT1-35.jpg');
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}
