:root {
  --sidebar-width-collapsed: 65px;
  --sidebar-width-expanded: 180px;
  --user-image-size-expanded: 100px;
  --user-image-size-collapsed: 45px;
  --sidebar-link-size: 30px;
  --sidebar-control-icon-size: 25px;
  --input--border-radius: 30px;
}

body {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
}

.app__sidebar,
.app__user--container,
.app__controls--container,
.app__main--container,
.app__search--brand,
.app__search--results__container,
.app__search__result--item__details {
  flex-direction: column;
}

.app__sidebar {
  background-color: var(--theme-sidebar-color-main);
  height: 100%;
}

.app__sidebar--collapsed {
  width: var(--sidebar-width-collapsed);
  box-shadow: 0.5px 0 2px 1px #c3c3c3c3;
}

.app__sidebar--expanded {
  width: var(--sidebar-width-expanded);
}

.app__user--container {
  flex-direction: column;
  min-height: fit-content;
  max-height: 25%;
  color: #ffffff;
  box-sizing: border-box;
}

.app__user--image__container {
  background-color: var(--theme-light-grey);
  border-radius: 50%;
}

.app__user--image__container--collapsed {
  width: var(--user-image-size-collapsed); /* -[collapsed] || -[expanded] */
  height: var(--user-image-size-collapsed); /* -[collapsed] || -[expanded] */
}

.app__user--image__container--expanded {
  width: var(--user-image-size-expanded); /* -[collapsed] || -[expanded] */
  height: var(--user-image-size-expanded); /* -[collapsed] || -[expanded] */
}

.app__sidebar--menu {
  flex-direction: column;
  height: 100%;
}

.app__sidebar--menu__group {
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 650;
  cursor: pointer;
}

.app__sidebar--menu__group:hover {
  background-color: var(--theme-dark-red);
}

.app__sidebar--menu img {
  width: var(--sidebar-link-size);
  height: var(--sidebar-link-size);
}

.app__controls--container img {
  color: #ffffff;
  width: var(--sidebar-control-icon-size);
  height: var(--sidebar-control-icon-size);
  animation: 3s ease-in 1s 2 reverse both paused slidein;
}

.app__controls--container img:hover {
  border-radius: 50%;
  background: var(--theme-dark-red);
  align-items: center;
}

.app__main--container {
  padding: 0 4rem;
}

.app__main--container::after {
  content: url('/src/assets/imgs/main-temp-background.png');
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: -1000;
}

.app__cart--icon  {
  position: absolute;
  top: 3%;
  right: 3%;
}

.app__search--brand p {
  font-size: 50px;
  font-weight: 700;
  color: var(--theme-dark-red);
}

.app__search--input {
  border: none;
  transition: all .5s ease-in;
  height: 50px;
  padding: 0 100px 0 40px;
  z-index: 200;
}

.app__search--results__container {
  position: relative;
  width: inherit;
  min-height: 80px;
  font-size: 12px;
  background-color: #ffffff;
}

.app__search__result--item {
  max-height: fit-content;
  cursor: pointer;
}

.app__search--default__box-shadow {
  box-shadow: 0 0 1.5px .3px var(--theme-light-grey);
}

.app__search--default__box-shadow:hover {
  box-shadow: 0 0 2px 1.5px #e8e8e8;
}

.app__search--active__box-shadow {
  box-shadow: 0 -.8px 2px .3px var(--theme-light-grey);
}

.app__search--input__icon {
  position: absolute;
  width: var(--sidebar-control-icon-size);
  height: var(--sidebar-control-icon-size);
  z-index: 200;
}

.app__search--input__icon--align__left,
.app__search--input__icon--align__right {
  align-self: center;
}

.app__search--input__icon--align__right {
  position: absolute;
  cursor: pointer;
}

.app__search--input__icon--cancel__search {
  right: calc(4rem + 80px);
  width: 15px;
  height: 15px;
}

.app__search--input__icon--camera {
  right: calc(4rem + 45px);
}

.app__search--input__icon--barcode {
  right: calc(4rem + 10px);
}

.app__search__result--item__icon,
.app__cart--icon {
  height: var(--sidebar-control-icon-size);
  width: var(--sidebar-control-icon-size);
  cursor: pointer;
}

.app__items__quantity--container {
  flex-direction: row;
  width: fit-content;
  height: inherit;
}

.app__search__result--item__quantity--control__icon {
  height: 15px;
  width: 15px;
}

.app__search__result--item__quantity {
  width: 40px;
  text-align: center;
  font-weight: 650;
  border-style: solid;
  border-color: var(--theme-dark-red);
  border-width: 1px;
  border-radius: 56px;
  height: 80%;
}

@media (min-width: 576px) {
  .app__main--container {
    padding: 0 8rem;
  }

  .app__search--input__icon--cancel__search {
    right: calc(8rem + 80px);
  }

  .app__search--input__icon--camera {
    right: calc(8rem + 45px);;
  }

  .app__search--input__icon--barcode {
    right: calc(8rem + 10px);;
  }
}

/* utils */
.app__border--top__left__radius--56 {
  border-top-left-radius: var(--input--border-radius);
}

.app__border--top__right__radius--56 {
  border-top-right-radius: var(--input--border-radius);
}

.app__border--bottom__right__radius--56 {
  border-bottom-right-radius: var(--input--border-radius);
}

.app__border--bottom__left__radius--56 {
  border-bottom-left-radius: var(--input--border-radius);
}
