body {
    width: 100vw;
    height: 100vh;
}

.lp--product-details__dialog {
    width: 320px;
    height: 70%;
    max-height: 70%;
    box-shadow: 0 0 2px .5px #e1e1e1e1;
    border-radius: 10px;
    background-color: #da3932;
}

.lp--product-details__dialog,
.lp--products-details__dialog--body {
    flex-direction: column;
}

.lp--products-details__dialog--header,
.lp--products-details__dialog--footer {
    flex-direction: row;
}

.lp--products-details__dialog--header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 50px;
    background-color: #eb3e37;
}

.lp--products-details__dialog--header__title {
    color: #ac2c2c;
    text-transform: uppercase;
}

.lp--products-details__dialog--body {
    height: calc(100% - 50px - 45px);
}

.lp--products-details__dialog--footer {
    min-height: 45px;
    background-color: #ffffff;
    color: #ac2c2c;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.lp--products-details__dialog--footer__buttons {
    border: none;
    background-color: inherit;
    color: inherit;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.lp--products-details__dialog--footer__buttons:hover {
    font-weight: 900;
}
