:root {
  --side-background-size: 80%;
  --side-background-url: url('/src/assets/imgs/main_side-background.png');
  --default-font-url: url('/src/assets/fonts/effra/Effra_Std_Lt.ttf');
  --theme-text-color-main: #a70918;
  --theme-button-color-main: #a70918;
  --theme-sidebar-color-main: #a70918;
  --theme-dark-red: #520101;
  --theme-light-grey: #cecece;
}

@font-face {
  font-family: "Effra Light";
  src: var(--default-font-url) format('ttf'),;
}

* {
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  /* overflow-x: hidden; */
  font-family: 'Effra Light';
}

a, a:hover {
  color: var(--theme-text-color-main);
  cursor: pointer;
}

a:hover,
.app__main__recover__forgot-text:hover {
  text-decoration: none;
  font-weight: 700;
}

.app__main__side-background,
.app__main__login-container,
.app__main__login-details__container,
.app__main__recover__signup-container {
  flex-direction: column;
}

.app__container {
  flex-direction: row;
}

.app__main__side-background {
  width: var(--side-background-size);
  height: inherit;
  background-image: var(--side-background-url);
  background-size: cover;
}

.app__main__login-container {
  height: inherit;
  width: inherit;
}

.app__main__login__welcome-msg {
  flex-direction: column;
}

.app__main__login__welcome-msg__main {
  line-height: normal;
  font-size: 30px;
  font-weight: 650;
  color: var(--theme-text-color-main);
}

.app__main__login__welcome-msg__sub {
  font-size: 15px;
  font-weight: 650;
}

.app__main__login-details__input-group {
  flex-direction: column;
  width: 100%;
}

.app__main__login-details__input-text {
  font-weight: 650;
  color: var(--theme-text-color-main);
  font-weight: bold;
  font-size: 13px;
  line-height: 23px;
}

.app__main__login-details__input-element {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: thin solid var(--theme-light-grey);
}

.app__main__login__button-default {
  border-radius: 52px;
  border: none;
  background-color: var(--theme-button-color-main);
  height: 45px;
  color: #ffffff;
  font-weight: bold;
}

.app__main__recover__forgot-text {
  cursor: pointer;
}

.app__main__recover__forgot-text,
.app__main__recover__signup-text {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

@media (min-width: 576px) {
  .app__main__login-container {
    padding: 0 8em!important;
  }

  .app__main__login__welcome-msg__main {
    font-size: 50px;
  }
}
