:root {
  --side-background-size: 80%;
  --side-background-url: url('/src/assets/imgs/main_side-background.png');
  --default-font-url: url('/src/assets/fonts/effra/Effra_Std_Lt.ttf');
  --text-color-main: #a70918;
}

@font-face {
  font-family: "Effra Light";
  src: var(--default-font-url) format('ttf'),;
}

body {
  width: 100vw;
  height: 100vh;
  /* overflow-x: hidden; */
  font-family: 'Effra Light';
}

.app__main__side-background,
.app__main__login-container {
  flex-direction: column;
}

.app__container {
  flex-direction: row;
}

.app__main__side-background {
  width: var(--side-background-size);
  height: inherit;
  background-image: var(--side-background-url);
  background-size: cover;
}

.app__main__login-container {
  height: inherit;
  width: inherit;
}

.app__main__login__welcome-msg {
  flex-direction: column;
}

.app__main__login__welcome-msg__main {
  line-height: normal;
  font-size: 30px;
  font-weight: 650;
  color: var(--text-color-main);
}

.app__main__login__welcome-msg__sub {
  font-size: 15px;
  font-weight: 650;
}

@media (min-width: 576px) {
  .app__main__login__welcome-msg__main {
    font-size: 50px;
  }
}
