body {
    display: flex;
    flex-direction: column;
    font-family: Effra Light;
    overflow: hidden;
}

.app__products--nav {
    height: 30px;
    border-color: #f5f5f5;
    border-width: 1.3px;
    border-style: solid;
    color: #cacaca;
}

.app__products--nav,
.app__products--nav__group,
.app__products--main__controls,
.app__products--main__search--container,
.app__products--multi-table,
.app__products--table__header,
.app__products--table__body--row {
    flex-direction: row;
}

.app__products--main,
.app__products--table__container,
.app__products--table__body {
    flex-direction: column;
}

.app__products--nav__group {
    width: fit-content;
    font-size: 12px;
}

.app__products--nav__group:hover {
    cursor: pointer;
    color: #a0a0a0;
    font-family: Effra;
}

.app__products--nav__item--separator {
    width: 5px;
    height: 5px;
    background-color: #cacaca;
    border-radius: 50%;
}

.app__products--main {
    padding: 0 4rem;
    overflow: hidden;
}

.app__products--main__controls {
    height: 50px;
}

.app__products--main__search--container {
    background-color: #f0f3f8;
    width: 250px;
    height: 80%;
    border-radius: 52px;
}

.app__products--main__search--container:hover {
    box-shadow: 0 .8px 1.5px 0 #a0a0a0;
}

.app__products--main__search--input__field {
    background-color: inherit;
    border: none;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    width: 85%;
}

.app__products--main__search--container img {
    width: 20px;
    height: 20px;
}

.app__products--table__container {
    background-color: #f0f3f8;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0 .8px 1.5px 0 #a0a0a0; */
    box-shadow: .8px .8px .5px .5px #cacaca;
}

.app__products--list--table__50h {
    height: 50%;
}

.app__products--multi-table {
    overflow: hidden;
    height: calc(100% - 50%);
    box-sizing: border-box;
}

.app__products--multi-table .app__products--table__container {
    width: calc(100% / 3);
    box-sizing: content-box;
    z-index: 2000;
    height: 99%;
    box-sizing: border-box;
}

.app__products--table__header {
    /* border-bottom: 1px solid #cacaca; */
    box-shadow: 0 0 1px 1.2px #cacaca;
}

.app__products--table__header,
.app__products--table__footer {
    min-height: 35px;
}

.app__products--table__header span {
    width: calc(100% / 9);
    min-width: calc(100% / 9);
    font-size: 11px;
    text-align: center;
    text-transform: capitalize;
}

.app__products--table__header span img, 
.app__products--table__header div img {
    width: 10px;
    height: 10px;
}

.app__products--table__header span img:hover {
    cursor: pointer;
}

.app__products--table__footer div {
    width: fit-content;
}

.app__products--table__footer img {
    width: 15px;
    height: 15px;
}

.app__products--table__footer img:hover {
    cursor: pointer;
}

.app__products--table__footer span {
    background-color: #a0a0a0;
    color: #f0f3f8;
    border-radius: 50%;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    text-align: center;
    font-family: Effra;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

.app__products--table__footer p {
    font-size: 12px;
}

.app__products--table__footer {
    /* border-top: 1px solid #cacaca; */
    box-shadow: 0 0 1px 1.2px #cacaca;
}

.app__products--table__body {
    overflow-x: hidden;
    overflow-y: auto;
}

.app__products--table__body--row {
    background-color: #f5f5f5;
}

.app__products--table__body--row:nth-of-type(odd) {
    background-color: inherit;
}

.app__products--table__body--row span {
    font-size: 12px;
    text-align: center;
    width: calc(100% / 9);
    min-width: calc(100% / 9);
    word-wrap: break-word;
    text-transform: capitalize;
    line-height: normal;
}

.app__products--table__body--row span:first-of-type {
    /* justify-content: center;
    align-items: center;
    justify-items: center; */
    /* text-align: left; */
}

.app__products--table__body--row span:first-of-type input:hover {
    cursor: pointer!important;
}

.app__products--table__body--row span:nth-child(2) {
    text-align: left;
}

.app__products--table__body--row:last-of-type {
    margin-bottom: 1rem;
}

.app__products--multi-table
.app__products--table__container
.app__products--table__header span,
.app__products--multi-table
.app__products--table__container
.app__products--table__body span  {
    width: calc(100% / 4);
    font-size: 13px;
}

.app__products--multi-table
.app__products--table__container
.app__products--table__body p {
    font-size: 11px;
    line-height: normal;
}
